NODE_ENV="local"

PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend-template?schema=public&connect_timeout=300"

JWT_ACCESS_SECRET="super-secret"

VERIFF_BASE_URL="https://stationapi.veriff.com"
VERIFF_API_KEY="your-api-key"
VERIFF_SECRET_KEY="your-secret-key"

AWS_S3_PUBLIC_BUCKET="backend-template-public"
AWS_S3_PRIVATE_BUCKET="backend-template-private"
AWS_S3_REGION="us-east-1"
AWS_S3_BUCKET="backend-template"
AWS_IAM_ACCESS_KEY_ID="your-access-key-id"
AWS_IAM_SECRET_ACCESS_KEY="your-secret-access-key"