NODE_ENV="local"

PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vesta-sdk-api?schema=public&connect_timeout=300"

STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_NETWORK="Test SDF Network ; September 2015"
VESTA_CONTRACT_ID="PLACEHOLDER"
VESTA_DEPLOYER_SECRET=""
ZK_ARTIFACTS_DIR="./zk-artifacts"
ZK_MOCK_MODE="false"
